#left {
    width: 200px;
    position: relative;
    border: 8px black solid;
    background-color: lightblue;
}

#go-button {
    border: none;
    background-color: black;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 2px;
    cursor: pointer;
}

.season-select, .episode-select {
    padding: 10px;
    font-size: 20px;
    
}

#info {
    position: absolute;
    top: 40%;
    left: 60%;
    margin-top: -200px;
    margin-left: -50px;
    margin-right: 300px;
    border: 10px solid;
    background-color: #8cc2f5;
    display: grid;
    place-items: center;
}


#info-text {
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

#info-picture {
    width: 400px;
    height: 300px;
    /* margin-left: 150px; */
}


nav {
    color: #ED1B2F;
    word-spacing: 10px;
}